.question {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(216, 216, 247);
    border: 1px solid black;
    box-shadow: 2px 0px 2px black;
  }
  
  .singleQuestion {
    width: 95%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: small;
  }
  
  .options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
  }
  
  .singleOption {
    width: 46%;
    height: 60px;
    margin: 10px;
    box-shadow: 0 0 2px black;
  }
  
  @media (max-width: 614px) {
    .singleOption {
      width: 100%;
    }
  }
  
  .controls {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
  .select {
    background-color: rgb(7, 207, 0);
    color: white;
    box-shadow: 0 0 1px black;
  }
  
  .wrong {
    background-color: rgb(233, 0, 0);
    color: white;
    box-shadow: 0 0 1px black;
  }