@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&family=Lato:wght@900&family=Oswald:wght@500&family=Rowdies:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin; /* Firefox */
  font-family: 'Lato', sans-serif;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: grey;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.app {
  min-height: 98.5vh;
  border: 2px solid rgb(19, 19, 71);
  background-color: white;
  margin: 5px;
  padding: 5px;
}

.mainImg {
  padding: 10px 0 5px 0;
}

